add-trailing-comma
cognitive-complexity
commitizen
coverage
cycler==0.11.0

flake8
flake8-bugbear
flake8-builtins
flake8-cognitive-complexity
flake8-commas
flake8-functions
flake8-import-order
flake8-polyfill

geographiclib
geopandas

multiprocess
numpy
openpyxl
pandas
pandera
pip-tools
pydantic
pygeos
pylint
pyproj
pytest
pytest-cov
pytest-parallel
python-dateutil
pre-commit
scikit-learn
scipy
Shapely
toml
