name: CI test

on:
  push:
    branches:
      - main
      - develop
      - "release/*"
  pull_request:
    branches:
      - main
      - develop
      - "release/*"

jobs:

  lint:

    name: CI Linter Tests
    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v2

    - name: Setup python
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"

    - name: Install unix dependencies
      run: |
        python -m pip install -U pip
        python -m pip install wheel
        python -m pip install -r requirements-dev.txt

    - name: Black
      run: pre-commit run black --all-files

    - name: Pylint
      run: pre-commit run pylint --all-files

    - name: Flake8
      run: pre-commit run flake8 --all-files

  test:

    name: >
      CI Tests (${{ matrix.python-version }}, ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: pwsh
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        python-version: ["3.8", "3.9", "3.10"]

    steps:

    - uses: actions/checkout@v2

    - name: Setup python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install unix dependencies
      if: matrix.os != 'windows-latest'
      run: |
        python -m pip install -U pip
        python -m pip install wheel
        python -m pip install -r requirements-dev.txt

    - name: Install windows dependencies
      if: matrix.os == 'windows-latest'
      run: |
        python -m pip install -U pip
        python -m pip install pipwin
        python -m pipwin install wheel
        python -m pipwin install -r requirements-dev.txt

    - name: Testing python application
      run: python3 -m pytest tests
