name: CI test

on:
  push:
    branches:
      - main
      - develop
      - "release/*"
  pull_request:
    branches:
      - main
      - develop
      - "release/*"

jobs:

  lint-and-test:

    name: >
      CI Tests (${{ matrix.python-version }}, ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: pwsh
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        python-version: ["3.8", "3.9", "3.10"]

    steps:

    - uses: actions/checkout@v2

    - name: Setup python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install unix dependencies
      if: ${{ matrix.os }} != 'windows-latest'
      run: |
        python -m pip install -U pip
        python -m pip install wheel
        python -m pip install -r requirements-dev.txt

    - name: Install windows dependencies
      if: ${{ matrix.os }} == 'windows-latest'
      run: |
        python -m pip install -U pip
        python -m pip install pipwin
        python -m pipwin install wheel
        python -m pipwin install -r requirements-dev.txt
