name: Release Python Package

on:
  push:
    tags:
      - "*"

jobs:

  release:

    runs-on: "ubuntu-latest"

    steps:

    - uses: actions/checkout@v2

    - name: Generate changelog
      uses: release-drafter/release-drafter@v5
      id: changelog
      with:
        disable-autolabeler: true
        prerelease: false
        tag: ${{ github.ref_name }}
        version: ${{ github.ref_name }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Create Release
      if: ${{ !contains(github.ref_name, 'rc') }}
      uses: actions/create-release@v1
      with:
        tag_name: ${{ github.ref_name }}
        release_name: ${{ github.ref_name }}
        body: ${{ steps.changelog.outputs.body }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish:

    runs-on: "ubuntu-latest"

    steps:

    - uses: actions/checkout@v2

    - name: Setup python
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"

    - name: Install unix dependencies
      run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install wheel poetry
          python3 -m poetry install

    - name: Build package
      run: python3 -m build

    - name: Build package 2
      run: python3 -m poetry run build

    - name: Publish package to PyPI
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSOWRD: ${{ secrets.PYPI_API_TOKEN }}
      run: |
        python3 -m poetry run twine upload dist/*
